<h3>{{ _('Hello!') }}</h3>

{% trans %}
    Thank you for using Julia 3G! This wizard will lead you through the
    final steps to get OctoPrint for Julia 3G all setup and ready to go. We'll
    get you printing in no time!
{% endtrans %}
